@model SUser
@using FStudentManagement.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<SUser> SignInManager
@inject UserManager<SUser> UserManager
@{
 var user = await UserManager.GetUserAsync(User);
}
<div class="py-3 py-md-5">
 <div class="container">
  <div class="row justify-content-md-center">
   <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
    <div class="bg-white p-4 p-md-5 rounded shadow-sm" style="    background: #dedddd !important;
">
     <div class="row">
      <div class="col-12">
       <div class="text-center mb-5">
        <h3>تغيير كلمة المرور</h3>
       </div>
      </div>
     </div>
     <form asp-controller="th_Dashboard" asp-action="change_password" method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>

      <div class="row gy-3 gy-md-4 overflow-hidden">
       <div class="col-12">
        <label for="password" class="form-label">كلمة المرور الحالية <span class="text-danger">*</span></label>
        <div class="input-group">
         <input type="password" class="form-control" name="Cpassword" required />
        </div>
       </div>
       <div class="col-12">
        <label for="password" class="form-label">كلمة المرور الجديدة <span class="text-danger">*</span></label>
        <div class="input-group">
         <input asp-for="PasswordHash" type="password" class="form-control" name="Npassword" required />
         <span asp-validation-for="PasswordHash" class="text-danger"></span>

        </div>
       </div>
       <div class="col-12">
        <div class="d-grid">
         <button class="btn btn-primary btn-lg" asp-route-userid="@user.Id" type="submit">حفظ</button>
        </div>
       </div>
      </div>
     </form>
    </div>
   </div>
  </div>
 </div>
</div>
@section Scripts {
 @{
  await Html.RenderPartialAsync("_ValidationScriptsPartial");

 }
}